@import url('https://fonts.googleapis.com/css?family=Alegreya');
nav{
	background:#F5E050;
}
nav ul a{
	color:#047BD5;
}
nav .brand-logo{
	color:#047BD5;	
}
body, html {
    height: 100%;
}
/*body{
	background: url('../img/veg.jpg');
	height: 100%; 

    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/
h3{
	line-height: 2em;
	float:right;
}
span{
	background:#00000020;
	color:white;
	font-family: 'Alegreya', serif;
}
.carousel { 
	height: 90vh;
}