@import url('https://fonts.googleapis.com/css?family=Alegreya');
nav{
	background:#F5E050;
}
nav ul a{
	color:#047BD5;
}
nav .brand-logo{
	color:#047BD5;	
}
body, html {
    height: 100%;
}

.mobile-cover{
	display: none;

}

h3{
	line-height: 2em;
	float:right;
}
span{
	background:#00000020;
	color:white;
	font-family: 'Alegreya', serif;
}
.carousel { 
	height: 90vh;
}
.btn {
	color:#047BD5;
}
@media only screen and (max-width: 700px){
	nav .brand-logo{
		font-size:1.7em;
	}
	h5{
		font-size:1.4em;
	}
	body{
		background: url('../img/mobile.jpg');
		height: 100%; 

    
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
	}
	.mobile-cover{
		display:block;
		margin:auto;
		margin-top:70%;
	}
	.carousel{
		display: none;
	}
	h3{
		line-height: 1.3em;
	}
	h3 span{
		font-size:.6em;
		background:none;
	}
}
@media only screen and (max-width: 430px){
	nav .brand-logo{
		font-size:1.3em;
	}
	.mobile-cover{
		display:block;
		margin:auto;
		margin-top:40%;
	}
}
i{
	color:#047BD5;
}