@import url('https://fonts.googleapis.com/css?family=Muli|Sunflower:300');
nav{
	background:#F8E831;
}
nav ul a{
	color:#047BD5;
}
nav .brand-logo{
	color:#047BD5;	
}
.card-title{
	color:#047BD5;
}
h3{
	font-family: 'Muli', sans-serif;
	text-transform: uppercase;
	color:#37651d;
}
h4{
	line-height: 1em;
	font-size:2em;
	font-family: 'Muli', sans-serif;
}
h5{
	line-height: 1.9em;
	font-size:1.5em;
	font-family: 'Muli', sans-serif;
}