@import url('https://fonts.googleapis.com/css?family=Muli|Sunflower:300');
nav{
	background:#F8E831;
}
nav ul a{
	color:#047BD5;
}
nav .brand-logo{
	color:#047BD5;	
}
@media only screen and (max-width: 700px){
	nav .brand-logo{
		font-size:1.7em;
	}

}
@media only screen and (max-width: 430px){
	nav .brand-logo{
		font-size:1.3em;
	}

}
.card-title{
	color:#047BD5;
}
h3{
	font-family: 'Muli', sans-serif;
	text-transform: uppercase;
	color:#37651d;
}
h4{
	line-height: 1em;
	font-size:2em;
	font-family: 'Muli', sans-serif;
}
h5{
	line-height: 1.9em;
	font-size:1.3em;
	font-family: 'Muli', sans-serif;
}
h6{
	color:#047BD5;
	margin-top:-10px;
}
h6:hover{
	text-decoration: underline;
}
i{
	vertical-align: middle;
}
.btn{
	width:100%;	
	padding-top:2em;
	padding-bottom:2em;
}